<ion-card class="ion-card" >

  <ion-card-header  color="primary" mode="ios">
    <ion-card-subtitle > 
      <label >{{ indice + 1 }}.</label>
      <label  class="noticia-source-name" >{{ noticia.source.name }}</label>
      
      <div  class="noticia-more">
        <ion-button color="light" fill="clear"
                    (click)="lanzarMenu()">
          <ion-icon slot="icon-only" 
                    name="more"></ion-icon>
        </ion-button>
      </div>

      
        <ion-card-title color="light"   (click)="abrirNoticia()"><h2>{{ noticia.title }}</h2></ion-card-title>
    
    </ion-card-subtitle>

    
  </ion-card-header>
  
  <ion-img *ngIf="noticia.urlToImage"
            (click)="abrirNoticia()"
            class="animated fadeIn fast"
            [src]="noticia.urlToImage"></ion-img>

  <ion-card-content>
    <p>
      {{ noticia.description }}
    </p>
  </ion-card-content>

</ion-card>